Repository KEEPER31337/Homepage-Back, pull requests merged in 2022-04, with the labels that each got.

#256 Feature/#252 게시물 수정 로직 변경
  src/docs/asciidoc/posting.adoc
  src/main/java/keeper/project/homepage/user/controller/posting/PostingController.java
  src/main/java/keeper/project/homepage/user/dto/posting/PostingResponseDto.java
  src/main/java/keeper/project/homepage/util/service/FileService.java
  src/test/java/keeper/project/homepage/controller/posting/PostingControllerTest.java
Labels: feat, fix

#258 Feature/#251_게임_플레이시_횟수_체크
  src/main/java/keeper/project/homepage/exception/ExceptionAdvice.java
  src/main/java/keeper/project/homepage/exception/attendance/CustomAttendanceException.java
  src/main/java/keeper/project/homepage/exception/attendance/CustomGameIsOverException.java
  src/main/java/keeper/project/homepage/user/service/attendance/AttendanceService.java
  src/main/java/keeper/project/homepage/user/service/attendance/GameService.java
  src/main/resources/exception.properties
Labels: fix

#260 fix: 회원가입 시 한글자 회원가입 안되던 버그 수정
  src/main/java/keeper/project/homepage/common/service/sign/SignUpService.java
  src/test/java/keeper/project/homepage/controller/sign/SignUpControllerTest.java
Labels: fix

#257 Feature/#254 카테고리api 정리
  src/docs/asciidoc/admin.adoc
  src/docs/asciidoc/keeper.adoc
  src/docs/asciidoc/posting/category.adoc
  src/docs/asciidoc/posting/categoryAdmin.adoc
  src/main/java/keeper/project/homepage/admin/controller/posting/AdminCategoryController.java
  src/main/java/keeper/project/homepage/admin/dto/category/reqeust/CategoryRequest.java
  src/main/java/keeper/project/homepage/admin/dto/category/result/CategoryResult.java
  src/main/java/keeper/project/homepage/admin/dto/category/result/CategoryWithChildResult.java
  src/main/java/keeper/project/homepage/admin/service/posting/AdminCategoryService.java
  src/main/java/keeper/project/homepage/entity/posting/CategoryEntity.java
  src/main/java/keeper/project/homepage/exception/ExceptionAdvice.java
  src/main/java/keeper/project/homepage/exception/posting/CustomParentCategoryNotFoundException.java
  src/main/java/keeper/project/homepage/repository/posting/CategoryRepository.java
  src/main/java/keeper/project/homepage/user/controller/posting/CategoryController.java
  src/main/java/keeper/project/homepage/user/service/posting/CategoryService.java
  src/main/resources/exception.properties
  src/test/java/keeper/project/homepage/admin/controller/posting/AdminCategoryControllerTest.java
  src/test/java/keeper/project/homepage/user/controller/posting/CategoryControllerTest.java
Labels: refactor, docs

#261 Feature/#255 test 실행 후 파일 삭제
  .github/workflows/keeper_homepage_back.yml
  src/main/java/keeper/project/homepage/entity/member/MemberJobEntity.java
  src/main/java/keeper/project/homepage/user/service/member/MemberDeleteService.java
  src/main/java/keeper/project/homepage/user/service/member/MemberService.java
  src/main/java/keeper/project/homepage/util/FileConversion.java
  src/main/java/keeper/project/homepage/util/MultipartFileWrapper.java
  src/main/java/keeper/project/homepage/util/service/FileService.java
  src/main/java/keeper/project/homepage/util/service/ThumbnailService.java
  src/test/java/keeper/project/homepage/ApiControllerTestHelper.java
  src/test/java/keeper/project/homepage/ApiControllerTestSetUp.java
  src/test/java/keeper/project/homepage/admin/controller/about/AdminAboutContentControllerTest.java
  src/test/java/keeper/project/homepage/admin/controller/about/AdminAboutSubtitleControllerTest.java
  src/test/java/keeper/project/homepage/admin/controller/about/AdminAboutTitleControllerTest.java
  src/test/java/keeper/project/homepage/admin/controller/member/AdminMemberControllerTest.java
  src/test/java/keeper/project/homepage/admin/controller/posting/AdminCommentControllerTest.java
  src/test/java/keeper/project/homepage/admin/service/about/AdminAboutTitleServiceTest.java
  src/test/java/keeper/project/homepage/common/controller/MemberControllerTest.java
  src/test/java/keeper/project/homepage/controller/attendance/AttendanceControllerTest.java
  src/test/java/keeper/project/homepage/controller/attendance/GameControllerTest.java
  src/test/java/keeper/project/homepage/controller/attendance/RankControllerTest.java
  src/test/java/keeper/project/homepage/controller/member/MemberControllerFindPostingTest.java
  src/test/java/keeper/project/homepage/controller/member/MemberControllerTest.java
  src/test/java/keeper/project/homepage/controller/member/MemberControllerTestSetup.java
  src/test/java/keeper/project/homepage/controller/member/MemberUpdateControllerTest.java
  src/test/java/keeper/project/homepage/controller/posting/CommentControllerTest.java
  src/test/java/keeper/project/homepage/controller/posting/PostingControllerTest.java
  src/test/java/keeper/project/homepage/controller/sign/SignInControllerTest.java
  src/test/java/keeper/project/homepage/controller/util/ImageControllerTest.java
  src/test/java/keeper/project/homepage/service/ThumbnailServiceTest.java
  src/test/java/keeper/project/homepage/service/member/MemberHasCommentLikeServiceTest.java
  src/test/java/keeper/project/homepage/service/member/MemberServiceTest.java
  src/test/java/keeper/project/homepage/service/member/MemberServiceTestSetup.java
  src/test/java/keeper/project/homepage/user/controller/member/MemberControllerTest.java
  src/test/java/keeper/project/homepage/user/controller/point/PointLogControllerTest.java
  src/test/java/keeper/project/homepage/user/controller/study/StudyControllerTest.java
Labels: fix, refactor, test

#263 Feature/#262 point 리팩토링
  src/main/java/keeper/project/homepage/entity/point/PointLogEntity.java
  src/main/java/keeper/project/homepage/exception/ExceptionAdvice.java
  src/main/java/keeper/project/homepage/repository/point/PointLogRepository.java
  src/main/java/keeper/project/homepage/user/controller/point/PointLogController.java
  src/main/java/keeper/project/homepage/user/dto/point/request/PointGiftLogRequestDto.java
  src/main/java/keeper/project/homepage/user/dto/point/request/PointLogRequestDto.java
  src/main/java/keeper/project/homepage/user/dto/point/result/PointGiftLogResultDto.java
  src/main/java/keeper/project/homepage/user/dto/point/result/PointLogResultDto.java
  src/main/java/keeper/project/homepage/user/service/point/PointLogService.java
  src/main/resources/exception.properties
  src/main/resources/exception_ko.properties
  src/test/java/keeper/project/homepage/ApiControllerTestHelper.java
  src/test/java/keeper/project/homepage/service/point/PointLogServiceTest.java
  src/test/java/keeper/project/homepage/user/controller/point/PointLogControllerTest.java
  src/test/java/keeper/project/homepage/user/repostiory/point/PointLogRepositoryTest.java
  src/test/java/keeper/project/homepage/user/service/point/PointLogServiceTest.java
Labels: refactor, test
