Repository KEEPER31337/Homepage-Back, pull requests merged in 2022-12, with the labels that each got.

#463 Feature/#462 ctf 브루트포싱 방지 기능 제작
  src/main/java/keeper/project/homepage/ctf/dto/CtfChallengeAdminDto.java
  src/main/java/keeper/project/homepage/ctf/dto/CtfChallengeDto.java
  src/main/java/keeper/project/homepage/ctf/dto/CtfCommonChallengeDto.java
  src/main/java/keeper/project/homepage/ctf/dto/CtfTeamDetailDto.java
  src/main/java/keeper/project/homepage/ctf/entity/CtfChallengeEntity.java
  src/main/java/keeper/project/homepage/ctf/entity/CtfFlagEntity.java
  src/main/java/keeper/project/homepage/ctf/exception/CtfExceptionAdvice.java
  src/main/java/keeper/project/homepage/ctf/exception/CustomSubmitCountNotEnoughException.java
  src/main/java/keeper/project/homepage/ctf/exception/CustomTooFastRetryException.java
  src/main/java/keeper/project/homepage/ctf/service/CtfAdminService.java
  src/main/java/keeper/project/homepage/ctf/service/CtfChallengeService.java
  src/main/java/keeper/project/homepage/ctf/service/CtfTeamService.java
  src/main/resources/exception.properties
  src/test/java/keeper/project/homepage/ctf/controller/CtfAdminControllerTest.java
  src/test/java/keeper/project/homepage/ctf/controller/CtfChallengeControllerTest.java
  src/test/java/keeper/project/homepage/ctf/controller/CtfSpringTestHelper.java
  src/test/java/keeper/project/homepage/ctf/dto/CtfChallengeAdminDtoTest.java
  src/test/java/keeper/project/homepage/ctf/repository/CtfChallengeRepositoryTest.java
  src/test/java/keeper/project/homepage/ctf/repository/CtfFlagRepositoryTest.java
  src/test/java/keeper/project/homepage/ctf/repository/CtfTestHelper.java
  src/test/java/keeper/project/homepage/ctf/service/CtfAdminServiceTest.java
  src/test/java/keeper/project/homepage/ctf/service/CtfChallengeServiceTest.java
  src/test/java/keeper/project/homepage/ctf/service/CtfServiceTest.java
  src/test/java/keeper/project/homepage/ctf/service/CtfTeamServiceTest.java
Labels: 🚀 feature, 🤝 FE needs

#468 Feature/#467 ctf fe 추가요청사항
  src/main/java/keeper/project/homepage/ctf/controller/CtfAdminController.java
  src/main/java/keeper/project/homepage/ctf/dto/CtfChallengeAdminDto.java
  src/main/java/keeper/project/homepage/ctf/dto/CtfChallengeDto.java
  src/main/java/keeper/project/homepage/ctf/dto/CtfCommonChallengeDto.java
  src/main/java/keeper/project/homepage/ctf/entity/CtfFlagEntity.java
  src/main/java/keeper/project/homepage/ctf/service/CtfAdminService.java
  src/main/java/keeper/project/homepage/ctf/service/CtfChallengeService.java
  src/test/java/keeper/project/homepage/ctf/controller/CtfAdminControllerTest.java
  src/test/java/keeper/project/homepage/ctf/controller/CtfChallengeControllerTest.java
  src/test/java/keeper/project/homepage/ctf/controller/CtfSpringTestHelper.java
Labels: 🛠 bug, 📄 docs, 🤝 FE needs, enhancement

#470 Feature/#469 ctf 문제 삭제시 포인트 롤백안되는 버그 해결
  src/main/java/keeper/project/homepage/ctf/service/CtfAdminService.java
  src/main/java/keeper/project/homepage/ctf/service/CtfTeamService.java
  src/test/java/keeper/project/homepage/ctf/service/CtfAdminServiceTest.java
Labels: 🛠 bug, ✏️ test, 🤝 FE needs

#472 Feature/ctf 카테고리 여러개로 설정되도록 변경
  src/main/java/keeper/project/homepage/ctf/dto/CtfChallengeAdminDto.java
  src/main/java/keeper/project/homepage/ctf/dto/CtfChallengeCategoryDto.java
  src/main/java/keeper/project/homepage/ctf/dto/CtfChallengeDto.java
  src/main/java/keeper/project/homepage/ctf/dto/CtfCommonChallengeDto.java
  src/main/java/keeper/project/homepage/ctf/entity/CtfChallengeEntity.java
  src/main/java/keeper/project/homepage/ctf/entity/CtfChallengeHasCtfChallengeCategoryEntity.java
  src/main/java/keeper/project/homepage/ctf/entity/CtfChallengeHasCtfChallengeCategoryEntityPK.java
  src/main/java/keeper/project/homepage/ctf/repository/CtfChallengeHasCtfChallengeCategoryRepository.java
  src/main/java/keeper/project/homepage/ctf/service/CtfAdminService.java
  src/test/java/keeper/project/homepage/ctf/controller/CtfAdminControllerTest.java
  src/test/java/keeper/project/homepage/ctf/controller/CtfChallengeControllerTest.java
  src/test/java/keeper/project/homepage/ctf/controller/CtfSpringTestHelper.java
  src/test/java/keeper/project/homepage/ctf/controller/CtfTeamControllerTest.java
  src/test/java/keeper/project/homepage/ctf/repository/CtfChallengeRepositoryTest.java
  src/test/java/keeper/project/homepage/ctf/repository/CtfFlagRepositoryTest.java
  src/test/java/keeper/project/homepage/ctf/repository/CtfSubmitLogRepositoryTest.java
  src/test/java/keeper/project/homepage/ctf/repository/CtfTestHelper.java
  src/test/java/keeper/project/homepage/ctf/service/CtfAdminServiceTest.java
  src/test/java/keeper/project/homepage/ctf/service/CtfChallengeServiceTest.java
  src/test/java/keeper/project/homepage/ctf/service/CtfServiceTest.java
  src/test/java/keeper/project/homepage/ctf/service/CtfTeamServiceTest.java
  src/test/java/keeper/project/homepage/util/service/CtfUtilServiceTest.java
Labels: ✏️ test, 🤝 FE needs, enhancement
